# Project Specific Knowledge
info_for_antigravity.txt

# GCP Secrets
*.json
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python/Airflow
__pycache__/
logs/
.venv/
.venv/
ingestion/.dlt/
ingestion/uv.lock

.bruin.yml
# Archivos privados
bitacora.txt
technical_report.md
airflow_home/airflow.db-shm
airflow_home/airflow.db-wal
